Doctype
html(lang="es")
    head
        title login
        meta(charset="utf-8")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
        link(href="/public/css/app.css" rel="stylesheet")
    body
      div(class="col-md-8 remove-float center-block")
        h2 login
        form(action="/administrador" method="post")
          div(class="form-group")
            label(for="email") Email
            input(type="text",name="email",placeholder="email", id="email" class="form-control")
          div(class="form-group")
            label(for="password") pass
            input(type="password",name="password",placeholder="contraseña", id="password" class="form-control")
          div(class="row top-space")
            div(class="col-xs-12 col-sm-6")
              input(type="submit" value="Guardar usuario" class="btn btn-info")
