Doctype
html(lang="es")
    head
        title inicio
        meta(charset="utf-8")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
        link(href="/public/css/app.css" rel="stylesheet")
    body

      div(class="col-md-12 remove-float")
        h2
        div(class="col-xs-12 col-sm-8")
          a(href="/administrador" class="right-space" ) Iniciar sesion
