Doctype
  html(lang="es")
    head
      title sesion iniciada
      meta(charset="utf-8")
      link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
      link(href="/public/css/app.css" rel="stylesheet")
    body
      div(class="col-md-8 remove-float center-block")
        h2 aqui registras a los pequeños administradores
        form(action="/users" method="post")
          div(class="form-group")
            label(for="nombre") Nombre
            input(type="text",name="nombre",placeholder="Nombre", id="nombre" class="form-control")

            label(for="apellido") Apellido
            input(type="text",name="apellido",placeholder="Apellido", id="apellido" class="form-control")

            label(for="cedula") Cedula
            input(type="text",name="cedula",placeholder="Cedula", id="cedula" class="form-control")

            label(for="email") Email
            input(type="text",name="email",placeholder="email", id="email" class="form-control")

            label(for="password") pass
            input(type="password",name="password",placeholder="contraseña", id="password" class="form-control")
            div(class="row top-space")
              div(class="col-xs-12 col-sm-6")
                input(type="submit" value="Guardar usuario y salir" class="btn btn-info")
                div(class="col-xs-12 col-sm-6")
                  a(href="/login") cerrar sesion
