Doctype
  html(lang="es")
    head
        title guardado
        meta(charset="utf-8")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
        link(href="/public/css/app.css" rel="stylesheet")
    body
      div(class="col-md-8 remove-float center-block")
        h2 Bienvenido
        div(class="col-xs-12 col-sm-6")
          a(href="/login") cerrar sesion
